<md-dialog id="staff-detail-dialog">
    <form ng-cloak name="passwordForm">
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div layout="column">
                <md-input-container>
                    <label>Mật khẩu cũ</label>
                    <input type="password" name="oldPassword" ng-model="changePassword.OldPassword" ng-pattern="/^.{6,}$/" required>
                    <div ng-messages="passwordForm.oldPassword.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Vui lòng nhập mật khẩu cũ</div>
                        <div ng-message="pattern" class="my-message">Sai định dạng mật khẩu</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="column">
                <md-input-container>
                    <label>Mật khẩu mới</label>
                    <input type="password" name="newPassword" ng-model="changePassword.NewPassword" ng-pattern="/^.{6,}$/" required>
                    <div ng-messages="passwordForm.newPassword.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Vui lòng nhập mật khẩu mới</div>
                        <div ng-message="pattern" class="my-message">Sai định dạng mật khẩu</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="column">
                <md-input-container>
                    <label>Xác nhận mật khẩu</label>
                    <input type="password" name="confirmPassword" ng-model="changePassword.confirmPassword" compare-to="changePassword.NewPassword" ng-pattern="/^.{6,}$/" required>
                    <div ng-messages="passwordForm.confirmPassword.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Vui lòng nhập xác nhận mật khẩu</div>
                        <div ng-message="pattern" class="my-message">Sai định dạng mật khẩu</div>
                        <div ng-message="compare" class="my-message">assad</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" class="md-default md-raised">
                Đóng
            </md-button>
            <md-button ng-click="save()" class="md-warn md-raised" md-autofocus>
                Lưu
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>